<!DOCTYPE html>
<html>
  <head>
    <title>计算器</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="We provide you with a calculator." />
    <meta name="keywords" content="计算器, calculator" />
    <link rel="stylesheet" href="../static/css/calculator.css">
  </head>
  <body>
    <div id="calculator">
      <table>
        <thead>
          <tr>
            <input type="text" id="calculator-input" />
          </tr>
        </thead>
      </table>
    </div>
  </body>
  <script type="text/javascript" src="../static/js/calculator.js"></script>
</html>